apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: huminex-observability
  labels:
    app: grafana
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.huminex-observability.svc.cluster.local:9090
        isDefault: true
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.huminex-observability.svc.cluster.local:3100
        uid: loki
      - name: Tempo
        type: tempo
        access: proxy
        url: http://tempo.huminex-observability.svc.cluster.local:3200
        uid: tempo
        jsonData:
          tracesToLogs:
            datasourceUid: loki
