apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: huminex-observability
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: otel-collector
        static_configs:
          - targets: ["otel-collector.huminex-observability.svc.cluster.local:8889"]

