apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: huminex-api
  namespace: huminex
spec:
  scaleTargetRef:
    apiVersion: argoproj.io/v1alpha1
    kind: Rollout
    name: huminex-api
  minReplicas: 3
  maxReplicas: 12
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
