apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: huminex-kv-secrets
  namespace: huminex
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: "c5611e85-c591-420d-981d-42649f0dc359"
    keyvaultName: "kv-huminex"
    cloudName: ""
    tenantId: "798c33e1-22be-463e-be2f-2920646fa78c"
    objects: |
      array:
        - |
          objectName: postgres-connection-string
          objectType: secret
        - |
          objectName: azuread-tenant-id
          objectType: secret
        - |
          objectName: azuread-client-id
          objectType: secret
        - |
          objectName: azuread-audience
          objectType: secret
        - |
          objectName: servicebus-fully-qualified-namespace
          objectType: secret
        - |
          objectName: blob-service-uri
          objectType: secret
        - |
          objectName: appconfig-endpoint
          objectType: secret
  secretObjects:
    - secretName: huminex-api-secrets
      type: Opaque
      data:
        - objectName: postgres-connection-string
          key: HUMINEX_Postgres__ConnectionString
        - objectName: azuread-tenant-id
          key: HUMINEX_AzureAd__TenantId
        - objectName: azuread-client-id
          key: HUMINEX_AzureAd__ClientId
        - objectName: azuread-audience
          key: HUMINEX_AzureAd__Audience
        - objectName: servicebus-fully-qualified-namespace
          key: HUMINEX_ServiceBus__FullyQualifiedNamespace
        - objectName: blob-service-uri
          key: HUMINEX_AzureStorage__BlobServiceUri
        - objectName: appconfig-endpoint
          key: HUMINEX_AzureAppConfiguration__Endpoint
