apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: huminex-api
  namespace: huminex
spec:
  replicas: 2
  strategy:
    canary:
      steps:
        - setWeight: 10
        - pause:
            duration: 30s
        - setWeight: 50
        - pause:
            duration: 60s
        - setWeight: 100
